---
Checks: >
	clang-analyzer-*,
	bugprone-*,
	performance-*,
	readability-*,
	modernize-*,
	misc-*,
	cppcoreguidelines-*,
	-clang-analyzer-alpha.*,
	-modernize-use-trailing-return-type,
	-modernize-avoid-c-arrays,
	-modernize-return-braced-init-list,
	-cppcoreguidelines-avoid-magic-numbers,
	-cppcoreguidelines-owning-memory,
	-cppcoreguidelines-pro-bounds-constant-array-index,
	-cppcoreguidelines-avoid-c-arrays,
	-readability-magic-numbers,
	-readability-identifier-naming
WarningsAsErrors: ''
HeaderFilterRegex: '^(src|include)/'
AnalyzeTemporaryDtors: true
FormatStyle: file
InheritParentConfig: false
UseColor: true
ExtraArgsBefore:
	- -std=c++17
CheckOptions:
	- key: modernize-use-nullptr.NullMacros
		value: 'NULL'
