BasedOnStyle: LLVM
Language: Cpp
Standard: c++17
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
NamespaceIndentation: None
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
SortIncludes: true
IncludeBlocks: Regroup
AlignAfterOpenBracket: DontAlign
AlignOperands: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
ReflowComments: true
Cpp11BracedListStyle: true
SpacesInParentheses: false
SpaceAfterCStyleCast: false
KeepEmptyLinesAtTheStartOfBlocks: false
FixNamespaceComments: true
DerivePointerAlignment: false